@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Puzzle 60</h1>

<p>This is a .NET 9 Blazor Web App with global server interactivity.</p>

<p>The challenge is to create a standalone currency input component using the solution from puzzle #59, shown here</p>

<input onfocus="this.select()" style="font-weight:bold;text-align:right;"
       @bind="@EditableCurrencyValue" />
<br />
<br />
<button>Dummy Button</button>

@code {

    decimal MyCurrencyValue { get; set; } = 0;

    string EditableCurrencyValue
    {
        get => MyCurrencyValue.ToString("C");
        set
        {
            var newValue = CleanAndFormatDecimal(value, 2);
            if (newValue != 0)
                MyCurrencyValue = newValue;
        }
    }

    decimal CleanAndFormatDecimal(string input, int decimalPlaces)
    {
        // Try to parse the input string as a decimal
        if (decimal.TryParse(input, out decimal result))
        {
            // Format the decimal with the specified number of decimal places
            var formattedString = Math.Round(result, decimalPlaces).ToString($"F{decimalPlaces}");
            if (formattedString != "")
                return decimal.Parse(formattedString);
        }

        // If parsing fails return 0
        return 0;
    }
}

